.logo {
    font-family: 'Ramaraja', serif;
    color: white;
    font-size: 32px;
}

.background {
    background-color: #05b169;
}

.card-override {
    background: #FFFFFF;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.defi-button {
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background: #05B169;
    border-radius: 8px;
    border:none;
    transition: none;
    box-shadow:none;
}

.center {
    text-align: center;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background: #05B169;
    border:none;
    transition: none;
    box-shadow:none;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow:none;
}

.defi-button:link {
    background: #05B169;
}

.defi-button:hover {
    background: #05B169;
}

.defi-button:active {
    background: #05B169;
    background: blue;
}

.defi-button:visited {
    background: #05B169;
}