.card-header {
  border-bottom: 0px;
}

.pagecard .title {
  font-size: 32px;
  color: #000000;
  font-weight: 500;
}

.pagecard .subtitle {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.table td {
  padding-left: 0px;
  padding-right: 0px;
  color: #000000;
}

.card .table td {
  padding-left: 0px;
  padding-right: 0px;
}

.card-body {
  padding-top: 0px;
}

.App {
  padding-left: 20px;
  padding-right: 20px;
}

.invest-tabs .active {
  color: #05B169;
}

.invest-tabs {
  color: rgba(5, 177, 105, 0.5);
}

.invest-tabs .nav-item {
  text-align: center;
}

.nav-tabs {
  border: 0px;
  margin-bottom: 30px;
  cursor: pointer;
}